*node_modules/
!/.gitattributes
!/.projen/tasks.json
!/.projen/deps.json
!/.projen/files.json
!/.vscode/example-settings.json
venv
*cache*
.env
metaflow-repos
.metaflow
**cdk.out/
**cdk.context.json
.vscode
!.vscode/python-docstring-template.mustache
!.vscode/example-settings.json
*.env
*.idea
*.egg-info
*build/
*build_/
*dist/
*htmlcov
*test-reports
*.coverage
*coverage.xml